{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}
{% block main %}
    <h1>{{ title }}</h1>
        <form action="/title" method="post">
            <input autocomplete="off" autofocus placeholder="Title Search" type="text" name="q">
            <button type="submit">Search</button>
        </form>
        <table class="table table-bordered border-primary" style="width: 70%; margin-left: auto; margin-right: auto;">
            <tr>
                <td style="width:10%;">
                    <form action="/year" method="get">
                        <button type="submit">Sort By Year</button>
                    </form>
                </td>
                <td style="width: 30%;">
                    <form action="/titlesort" method="get">
                        <button type="submit">Sort By Title</button>
                    </form>
                </td>
                <td style="width:20%;">
                    <form action="/authorsort" method="get">
                        <button type="submit">Sort By Author</button>
                    </form>
                </td>
                <td style="width: 10%;">
                    <form action="/pagecount" method="get">
                        <button type="submit">Sort By Pages</button>
                    </form>
                </td>
            </tr>
            {% for book in books %}
            <tr>
                <td style="width:10%;">
                    <img src={{ book['cover'] }} style="height: 200px;"/>
                </td>
                <td style="width: 30%;">
                    {{ book['title'] }} <br>
                    {{ book['subtitle'] }} <br>
                    {{ book['description'][:200] }} <br>
                </td>
                <td style="width:20%;">
                    <form action="/author" method="post">    
                        <input name="authors" type="hidden"  value="{{ book['author'] }}">
                        <button type="submit">{{ book['author'] }}</button>
                    </form>
                    Year Published: {{ book['year'] }} <br>
                    ISBN: {{ book['isbn'] }} <br>
                    Pages: {{ book['pageCount']}} <br>
                </td>
                <td style="width: 10%;">
                    <form action="/delete" method="post">
                        <input name="id" type="hidden" value="{{book['_id']}}">
                        <input name="title" type="hidden" value="{{book['title']}}">
                        <button type="submit">DELETE</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
{% endblock %}