{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}
{% block main %}
    <h1>{{ title }}</h1>
        <form action="/title" method="post">
            <input autocomplete="off" autofocus placeholder="Title Search" type="text" name="q">
            <button type="submit">Search</button>
        </form>
        <table class="table table-bordered border-primary" style="width: 70%; margin-left: auto; margin-right: auto;">
            {% for book in books %}
            <tr>
                <td style="width:10%;">
                    <img src={{ book['cover'] }} style="height: 200px;"/>
                </td>
                <td style="width: 30%;">
                    {{ book['title'] }} <br>
                    {{ book['subtitle'] }} <br>
                    {{ book['description'] }} <br>
                </td>
                <td style="width:20%;">
                    <form action="/author" method="post">    
                        <input name="authors" type="hidden"  value="{{ book['authors'] }}">
                        <button type="submit">{{ book['author'] }}</button>
                    </form>
                    {{ book['year'] }} <br>
                    {{ book['isbn'] }} <br>
                    {{ book['pages']}} <br>
                    {{ book['_id']}}<br>
                </td>
                <td style="width: 10%;">
                    <form action="/delete" method="post">
                        <input name="id" type="hidden" value="{{book['isbn']}}">
                        <button type="submit">DELETE</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
{% endblock %}